.gallery {
  padding: 1rem;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.gallery_image {
  width: 100%;
  height: 100%;
}

.gallery_image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
